.idea/
.gradle
build/
target/
out/
bin/

gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
*.DS_Store
